{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock%}

{% block content %}

{% for product in products %}
<div class="col-md-4">
    <h3>Наименование товара: {{ product.name }}</h3>
    <p>Описание: {{ product.desc }}</p>
    <p>Цена {{ product.price }}руб. <span>{{ product.quantity }}</span></p>
    <p>Дата последнего изменения: {{ product.add_date }}</p>
    <img src="{{ product.image.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
</div>
{% endfor %}

{% endblock%}